<!doctype html>
<html>
<head>
  <meta charset=utf-8 />
  <title> Lisa's CV</title>
  <link href="media/cv-screen.css" type="text/css" rel="stylesheet" media="screen">

  <!-- imports -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
</head>

<body>
  

    <div id="wholePage">
    
        <img src="http://www.flowermuse.com/media/catalog/product/cache/1/image/1200x1200/9df78eab33525d08d6e5fb8d27136e95/f/e/festiva-maxima-white-peony-closeup.jpg" alt="Photo of peony flower" id="pic" />
    
        <div id="contact-info" class="vcard">
        
            <!-- Microformats! -->
        
            <h1 class="fn">Lisa Truong's CV</h1>
        
            <p>
                
                Email: <a class="email" href="mailto:truongglisa@gmail.com">truongglisa@gmail.com</a> <br> 
                My GitHub: <a href="http://github.com/ltruongssf">ltruongssf.github.io</a>
            </p>
        </div>
                
        <div id="objective">
            <p>
                I am currently a 5th-year student at SDSU while attending Soft Stack Factory.
                My major at SDSU is Management and Information Systems where we combine computer
                databases, security, and data analytics together. I intend to incorporate my learning
                experience from SSF to my major and enhancing my education towards becoming a future
                computer programmer.
            </p>
        </div>
        
        <div class="clear"></div>
        
        <dl>
            <dd class="clear"></dd>
            
            <dt>Education</dt>
            <dd>
                <h2>San Diego State University</h2>
                <p><strong>Major:</strong> MIS </p> 
                   
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>Skills</dt>
            <dd>
                <h2d>Office skills</h2>
                <p>Database administration, customer support, customer service </p>          
                <h2>Computer skills</h2>
                <p>Microsoft productivity software (Word, Excel, etc), JavaScript, HTML, CSS</p>
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>Experience</dt>
            <dd>
                <h2>San Diego State University Career Services -- Student Assistant </h2>
                <ul>
                    <li>Coordinate student activities</li>
                    <li>Guided students to find jobs</li>
                    
                </ul>
                
                
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>Hobbies</dt>
            <dd>Cooking, Traveling, Maintaining a healthy lifestyle</dd>
            
            <dd class="clear"></dd>
            
            <dt>References: </dt>
            <dd>Available on request</dd>
            
            <dd class="clear"></dd>
        </dl>
        
        <div class="clear"></div>
    
    </div>

</body>

</html>
